**./*.log
.env
.npmrc
/.idea
/.vscode
/build
/coverage
/node_modules
src/**/*.js
db
/.wakatime-project
yarn-error.log

# Generated GraphQL files
schema.graphql
src/__generated__/
src/**/*.generated.ts
